/* Gilt für alle Breiten */
body {
  font-family: sans-serif;
}


/* Gilt ab 768px breite */
@media only screen and (min-width: 768px) {

  body {
    color: green;
  }

} /* end of media query */


/* Gilt ab 1024px breite */
@media only screen and (min-width: 1024px) {

  body {
    color: red;
  }

} /* end of media query */
